
.card-holder{
  position: relative;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out; 
}
.card-holder:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(0);
  z-index: 1;
  
}

.card-container {
  min-width: 250px;
  max-width: 300px;
  /* background-color: red; */
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  /* transition: all 0.3s ease-in-out; */
  position: relative;
  display: grid;
  grid-template-rows: 0.8fr 1fr auto;
  margin: 0 auto;
  
  
}

.card-edit {
  min-width: 50% !important;
  filter: grayscale(0) !important;
  /* filter: grayscale(0) !important; */
}

/* .card-container:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(0);
  z-index: 1;
} */

.card-img {
  background-position: center;
  /* background-color: gray; */
}

.grayscale {
  filter: grayscale(1);
}

.card-container img {
  max-width: 100%;
  /* max-height: 300px; */
}

.card-info {
  padding: 0 15px;
  background-color: white;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  overflow-wrap: break-word;
  min-height: 200px;
  /* inline-size: 100%; */
}
.card-info h2 {
  color: #dd1c1a;
}

.card-info p {
  color: #07a0c3;
}

.card-stats {
  width: 100%;
  display: flex;

  background: #dd1c1a;
  /* justify-content:center; */
}

.card-stats > div {
  border: 2px solid #dd1c1a;
}
.card-stats > div:first-child {
  border-right: 2px solid white;
}

.icon-container {
  z-index: 2;
  position: absolute;
  /* width: 100%; */
  top: -20px;
  right: -15px;
 /*  background-color: #dd1c1a; */
  font-size: 35px;
  color: red;
 
  padding: 5px;
  /* background-color: yellow; */
}
.icon-container:hover{
  /* cursor: ; */
} 
